{% extends 'pipelines/base.html' %}

{% load bootstrap4 %}

{% block content %}
<div class="card" style="width:100%">
    <div class="card-header">
        <h3>{{ pipeline.label }}</h3>
        <h7>{{ pipeline.description }}</h7>

    </div>
    <div class="card-body">
        <table class="table-responsive">
            <form action="setup/" class="form-control" method="post">{% csrf_token %}
                <tr>
                    <td>
                        <div class="card">
                            <div class="card-header">Pipeline configuration</div>
                            <div class="card-body">
                                {% for k,v in pipeline.playbook_vars_template.items %}

                                    <div class="form-group">
                                        <label for="{{ k }}">{{ k }}</label>
                                        <input type="text" id="{{ k }}" name="{{ k }}"
                                               placeholder="{{ v }}" value="{{ v }}"
                                               class="form-control">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card" style="width:100%">
                            <div class="card-header">Pipeline configuration</div>
                            <div class="card-body">
                                {% for k,v in pipeline.playbook_vars_template.items %}

                                    <div class="form-group">
                                        <label for="{{ k }}">{{ k }}</label>
                                        <input type="text" id="{{ k }}" name="{{ k }}"
                                               placeholder="{{ v }}" value="{{ v }}"
                                               class="form-control">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                </tr>
            </form>
        </table>


        {% endblock %}ges %}

        <form action="setup/" method="post">{% csrf_token %}
            <table>
                {% for k,v in pipeline.playbook_vars_template.items %}
                <tr>
                    <td>{{ k }}:</td>
                    <td><input type="text" id="{{ k }}" name="{{ k }}" placeholder="{{ v }}" value="{{ v }}"></td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Setup">
        </form>
